<a href="https://colab.research.google.com/github/niteshsah3424/HOME_PYTHON/blob/main/LIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#list
list1=[1,2,3,4,5]
list2=['sanjay','nitesh','ajay',1,2,3,4,5]
# print(list1)
# print(list2)

[1, 2, 3, 4, 5]
['sanjay', 'nitesh', 'ajay', 1, 2, 3, 4, 5]

In [8]:
# inbulid function
# append--> add the value in the last

list1.append(88)
print(list1)

[1, 2, 3, 4, 5, 88]

In [12]:
# var.insert--> insert the value at the specific position

list2.insert(2,99)
print(list2)

['sanjay', 'nitesh', 99, 'ajay', 1, 99, 2, 3, 4, 5]

In [21]:
# extend--> add the collection at the time
list1=[1,2,3,4,5]
list2=['sanjay','nitesh','ajay',1,2,3,4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 'sanjay', 'nitesh', 'ajay', 1, 2, 3, 4, 5, 6]

In [20]:
# remove--> remove the specific value
list1=[1,2,3,4,5]
list2=['sanjay','nitesh',1,2,3,4,5]

list1.remove(5)
print(list1)

[1, 2, 3, 4]

In [23]:
list1=[1,2,3,4,5,6]
list2=['sanjay','nitesh','ajay',4,5,67,88]
list1.pop(5)
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
#BASIC QUESTION PRACRICE..LIST

In [24]:
# 1.create a list of 5 and print it
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [25]:
# 2.add the number to the end of the list

list1=[5,6,2,1,8,9]
list1.append(10)
print(list1)

[5, 6, 2, 1, 8, 9, 10]

In [27]:
# 3.remove the second element from the list

list1=[88,99,25,45,34,23,12]
list1.remove(23)
print(list1)

[88, 99, 25, 45, 34, 12]

In [40]:
#4.Find the largest number in a list
list1=[45,34,90,33,67,88,89]
largest=list1[0]
for i in range(len(list1)):
  if(list1[i]>largest):
     largest=list1[i]
print(largest)

90

In [43]:
#5.Count how many times an element appears in a list.
list1=[1,2,3,4,5]
count=0
for i in range(len(list1)):
  count+=1
print(count)

5

In [48]:
#6.reverse the list without using reverse()
list1=[1,2,3,4,5,6,10]
rev_list=[]

for i in range(len(list1) -1,-1,-1):
  rev_list.append(list1[i])
print(rev_list)

[10, 6, 5, 4, 3, 2, 1]