<a href="https://colab.research.google.com/github/niteshsah3424/HOME_PYTHON/blob/main/2_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# tuple

t1=(1,2,3,4,5)
print(t1)
print(type(t1))
print(t1[2])

(1, 2, 3, 4, 5)
<class 'tuple'>
3

In [8]:
#1.write a  program to create a tuple with 5 element and print it
t1=(1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

In [9]:
"""2.Access element
Given a tuple (10, 20, 30, 40, 50), print:
the first element
the last element"""
t1=[10,20,30,40,50]
print(t1[0])
print(t1[-1])

10
50

In [11]:
#3.Write a program to find the length of a tuple.

t1=('ram','shyam',1,2,3,4,5,6,8)
print(len(t1))

9

In [17]:
#4.Write a program to check whether an element exists in a tuple.

t1=('ram','shyam','nitesh','sanjay',4,5,6,7,8,9,10)
if 5 in t1:
  print('the element present in the tuple')

else:
  print("the element not present in the tuple ")

the element present in the tuple

In [20]:
#5.Given a tuple (1, 2, 3, 4, 5, 6), print elements from index 1 to 4.

t1=(1,2,3,4,5,6)
print(t1[1:5])

(2, 3, 4, 5)

In [22]:
#6.Write a program to count how many times an element appears in a tuple.
t=(1,2,3,4,5,6,7,8,9,10)
count=0

for i in range(len(t)):
  count+=1
print(count)

10

In [25]:

#7.Write a program to find the index of a given element in a tuple.
t=(10,20,30,40,50,60)
element=30

if element in t:
  index=t.index(element)
  print("index of element is",index)
else:
  print("element not found in the tuple")

index of element is 2

In [26]:
#8.Write a program to print all elements of a tuple using a while loop.
t1=(20,40,60,80,100,120,140,160,180,200)
i=0
while i<len(t1):
  print(t1[i])
  i+=1

20
40
60
80
100
120
140
160
180
200

In [27]:
#9.Write a program to print all elements of a tuple using a loop.
t=(10,20,30,40,50,60)

for element in t:
  print(element)

10
20
30
40
50
60

In [29]:
#10.Write a program to convert a list into a tuple.
lst=[1,2,3,4,5,6,7]

tup=tuple(lst)

print(tup)

print(type(tup))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [30]:
#11.Given a tuple (100, 200, 300), unpack it into three variables and print them.

t1=(100,200,300)

a,b,c=t1

print(a)
print(b)
print(c)

100
200
300