<a href="https://colab.research.google.com/github/niteshsah3424/HOME_PYTHON/blob/main/6_while_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# while loop
# initialization---> step1

# while condition---->step2
#..........
#...........

#updation .........> step3

In [1]:
#1.wap to print kiit is a good college upto 10

i=0
while i <=10:
  print("kiit is a good college")

  i+=1

kiit is a good college
kiit is a good college
kiit is a good college
kiit is a good college
kiit is a good college
kiit is a good college
kiit is a good college
kiit is a good college
kiit is a good college
kiit is a good college
kiit is a good college

In [34]:
#2.wap to print even number upto 100

i = 1
while i <= 100:
    if i % 2 == 0:
        print(i, end=" ")
    i += 1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [9]:
#3.wap to print multiplication table by using user table
num=int(input("enter a table number"))
i=1
n=10
while i<=n:
  print(f'{num}*{i}={num*i}')
  i+=1

enter a table number10
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [10]:
#4.wap to find the sum of natural number
num=int(input("enter a number"))

i=1
sum=0
while i<=num:
  sum+=i
  i+=1
print("sum of natural number of is ",sum)

enter a number5
sum of natural number of num is  15

In [11]:
#5.wap to find the factoral of given num
num=int(input("enter a mumber"))

i=1
fact=1
while i<=num:
  fact*=i
  i+=1

print(f'the factorial of{num} is {fact}')

enter a mumber4
the factorial of4 is 24

In [15]:
#6.wap to get the the following output

s="we are kiit students we are the best developers"
output="we_are_kiit_students_we_are_the_best_developers"

out=""
i=0
while i<len(s):
  if s[i]==' ':
    out+='_'

  else:
    out+=s[i]

  i+=1

print(out)

we_are_kiit_students_we_are_the_best_developers

In [17]:
#7.wap to extract lower case character from the given str

s="Hello How ARE yoU?"
output="elloowyo"

out=""
i=0
while i<len(s):
  if 'a'<=s[i]<='z':
    out+=s[i]
  i+=1

print(out)

elloowyo

In [19]:
#8.wap to extract special case character from the given str

s="kitne #$%^& aadmi 12345678 they $%^&() sardar 6 aadmi %^&*() they"
output="#$%& $%^&()  %^&*()"

out=""
i=0
while i<len(s):
  if not ('a'<=s[i]<='z'or 'A'<=s[i]<='Z' or '0'<=s[i]<='9'):

    out+=s[i]
  i+=1

print(out)

 #$%^&    $%^&()    %^&*()

In [28]:
#9. wap to extract only integer from a given list

l=[10,345,5.6, True,567,'kiit',[1,2,3,4,5]]
output=[10,234,567]

out=[]
i=0
while i< len(l):
  if type(l[i])==int:
      out.append(l[i])

  i+=1

print(out)

[10, 345, 567]

In [33]:
#10.wap to get the following output
list1=[10,20,True, "hello","eye","level",'gabbaer singh','pallindrome','malayalam','madam']

output=["eye",'level','malayalam','madam']

out=[]
i=0
while i< len(list1):
  if type(list1[i])== str and list1[i]==list1[i][::-1]:
    out.append(list1[i])

  i+=1

for item in out:
  print(item)

eye
level
malayalam
madam