<a href="https://colab.research.google.com/github/niteshsah3424/HOME_PYTHON/blob/main/7_for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""syntax of " for loop"
1.syntax:
for item in col:
  statement

2.synatax:
for i in range(0,11):
  print(i)

 """

'syntax of " for loop"\n1.syntax:\nfor item in col:\n  statement\n\n2.synatax:\nfor i in range(0,11):\n  print(i)\n\n '

In [ ]:
#eg-1

col1=[10,20,30,40,50,60]

for val in col1:
  print(val,end=' ')

10 20 30 40 50 60

In [ ]:
#eg-2
col={1:'a',2:'b',3:'c',4:'d'}

for key in col:
  print(key,col[key])

1 a
2 b
3 c
4 d

In [ ]:
#eg-03

col3="good afternoon guys".split()

for char in col3:
  print(char,end=" ")

good afternoon guys

In [ ]:
# for i in range()

In [ ]:
# by using the range function print (0-10)
for i in range(11):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [1]:
#1.wap to print all the integers present in a list
l=[1,2,3,'sanjay',True,5.5,88,'hello']

for val in l:
  if type(val)==int:
    print(val)

1
2
3
88

In [2]:
#2.wap to find the length of the collection without using len()
l=[1,2,3,4,5,6,7,8,9,10]
ind=0

for val in l:
  ind+=1

print(ind)

10

In [4]:
#3.reverse the string without using slicing

s="sanjay"
rev=""
for char in s:
  rev=char+rev
print(rev)

yajnas

In [6]:
#4.wap to extract all the even number in the tuples

t=(12,23,24,10,6,8,35)
out=()

for val in t:
  if val%2==0:
    out+=(val,)
print(out)

(12, 24, 10, 6, 8)

In [7]:
#5.wap to get the following output
s='icon star'.split()
out={'icon':4,'star':4}

output={}

for word in s:
  output[word]=len(word)
print(output)

{'icon': 4, 'star': 4}

In [8]:
#6.wap to get the following output

s='always keep smilling'.split()
out={'always':'syawla','keep':'peek','smiling':'gnilims'}

dict={}
for word in s:
  dict[word]=word[::-1]
print(dict)

{'always': 'syawla', 'keep': 'peek', 'smilling': 'gnillims'}

In [24]:
#7.wap to get the following output
l=['jiocinema.com','flipkart.in','file.py','index.html','file.java'
    'file.com','file2.java']

out=['com','in','py','html','java']
output=[]

for item in l:
  first,second=item.split('.',1)

  if second not in output:
    output.append(second)
print(output)

['com', 'in', 'py', 'html', 'javafile.com', 'java']

In [26]:
#8.wap to get the following output
s="HELLO"
out={0:"H",1:"E",2:"L",3:"L",4:"O"}

output={}

for i in range (len(s)):
  output[i]= s[i]

print(output)

{0: 'H', 1: 'E', 2: 'L', 3: 'L', 4: 'O'}

In [29]:
#9.wap to get the following output
s="always keep similimg".split()
out="syawla peek gnilims "
output=""

for word in s:
  output+= word[::-1]
  if word!=s[-1]:
    output+=' '


print(output)

syawla peek gmilimis